<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F421CF192B6A9DC700754112</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F421CF212B6A9DC800754112</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F45275C32B7A3A3C001D85BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F47BE6A92B7109D10019FEE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4A246252B7CF4BE00A7BBD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4A2462C2B7CF4BF00A7BBD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
