<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4562A462B86602F001FDEFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49FC7162B887BF60084C869</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4D2AEAE2B860E9300E73F73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4D2AED22B862A8700E73F73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
